@import url(reset.css);
@import url(header.css);
@import url(subitem.css);
@import url(footer.css);

.social-links.dark a{
    background: #fff;
    border-color: transparent;
    color: rgba(66, 131, 161, 1);
}

.social-links.dark a:hover {
    border-color: transparent;
    color: rgba(0, 0, 0, 1);
}

.contacts__phone{
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.contacts__image{
	margin-bottom: 15px;
}