/* ---------------------------------------------- /*
 * General styles
/* ---------------------------------------------- */

@import url(reset.css);
@import url(header.css);
@import url(portfolio-main.css);
@import url(footer.css);


/* ---------------------------------------------- /*
 * Home
/* ---------------------------------------------- */

#home {
	position: relative;
	background-color: #222;
	padding: 0;
}

#home:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
    opacity: 0.3;
    z-index: 1;
}

.intro {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	text-align: center;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
	-webkit-transform: translate(0%, -50%);
	   -moz-transform: translate(0%, -50%);
		-ms-transform: translate(0%, -50%);
		 -o-transform: translate(0%, -50%);
			transform: translate(0%, -50%);
	padding: 0 25px;
	z-index: 4;
}

/*
.hello,
.who-creates {
	font-family: 'Open Sans', 'Arial', serif;
	font-size: 16px;
	margin: 15px 0;
	letter-spacing: 0.5px;
}

.who-creates{
	text-transform: uppercase;
}

.photograph{
	display: inline-block;
	vertical-align: top;
	padding: 5px 25px;
	border: 1px solid #fff;
	letter-spacing: 7px;
}
* */


.hello,
.who-creates {
	font-family: 'Open Sans', 'Arial', serif;
	font-size: 16px;
	margin: 5px 0;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.hello{
	letter-spacing: 3px;
}

.photograph{
	background: rgba(0,0,0,.1);
	display: inline-block;
	vertical-align: top;
	line-height: 1.1;
	padding: 12px 45px;
	margin: 0px;
	border: 1px solid #fff;
	letter-spacing: 7px;
}

/* BLOG */

.blog{
}

.blog__item{
	color: #666;
	display: block;
	background: #fff;
	border-bottom: 1px solid #d4d4d4;
	padding: 20px;
	margin: 0 0 20px;
	-webkit-transition: all 0.35s ease 0s;
	-moz-transition: all 0.35s ease 0s;
	-ms-transition: all 0.35s ease 0s;
	-o-transition: all 0.35s ease 0s;
	transition: all 0.35s ease 0s;
}

.blog__image-wrap{
	display: block;
	margin-bottom: 20px;
}

.blog__image{
	max-width: 100%;
	display: block;
}

.blog__text{
	display: block;
}

.blog__date{
	display: block;
	color: #999;
	font-size: 12px;
	margin: 0px 0 10px;
}

.blog__title {
	font-size: 15px;
	line-height: 17px;
	margin-bottom: 4px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #222;
	display: block;
}

.blog__item:hover{
	opacity: 0.8;
}

.blog__desc{
	color: #666;
	display: block;
}

/* ---------------------------------------------- /*
 * Media
/* ---------------------------------------------- */

@media (min-width: 1460px) {
	.hello,
	.who-creates{
		font-size: 22px;
		margin: 17px 0;
	}
}

@media (max-width: 991px) {


}

@media (max-width: 480px) {
	.hello,
	.who-creates{
		font-size: 18px;
		margin: 20px 0;
		line-height: 1.5;
	}

}