/* ---------------------------------------------- /*
 * General styles
/* ---------------------------------------------- */

@import url(reset.css);
@import url(header.css);
@import url(blog.css);
@import url(portfolio-main.css);
@import url(portfolio.css);
@import url(slideshow.css);
@import url(subitem.css);

/* ---------------------------------------------- /*
 * Home
/* ---------------------------------------------- */

#home {
	position: relative;
	background-color: #222;
	padding: 0;
}

#home:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
    opacity: 0.3;
    z-index: 1;
}

.intro {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	text-align: center;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
	-webkit-transform: translate(0%, -50%);
	   -moz-transform: translate(0%, -50%);
		-ms-transform: translate(0%, -50%);
		 -o-transform: translate(0%, -50%);
			transform: translate(0%, -50%);
	padding: 0 25px;
	z-index: 4;
}

.hello,
.who-creates {
	font-family: 'Open Sans', 'Arial', serif;
	font-size: 16px;
	margin: 5px 0;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.hello{
	letter-spacing: 3px;
}

.photograph{
	background: rgba(0,0,0,.1);
	display: inline-block;
	vertical-align: top;
	line-height: 1.1;
	padding: 12px 45px;
	margin: 0px;
	border: 1px solid #fff;
	letter-spacing: 7px;
}

/* ---------------------------------------------- /*
 * Contacts
/* ---------------------------------------------- */

.social-links.dark a{
    background: #fff;
    border-color: transparent;
    color: rgba(66, 131, 161, 1);
}

.social-links.dark a:hover {
    border-color: transparent;
    color: rgba(0, 0, 0, 1);
}

.contacts__phone{
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.contacts__wrap{
	color: #666;
	background: #fff;
	border-bottom: 1px solid #d4d4d4;
	padding: 20px 5px;
}

.contacts__image{
	margin-bottom: 15px;
}

/* ---------------------------------------------- /*
 * Footer
/* ---------------------------------------------- */

#footer {
	background: #222;
	text-align: center;
	padding: 40px 0;
	color: #FFF;
}

.copyright {
	margin: 0;
}

.social-links {
	list-style: none;
	padding: 0;
	margin: 0 0 20px;
}

.social-links li {
	display: inline-block;
	margin: 5px;
}

.social-links a {
	width: 36px;
	height: 36px;
	display: block;
	line-height: 35px;
	text-align: center;
	border: 1px solid rgba(255, 255, 255, .1);
	font-size: 14px;
	color: rgba(255, 255, 255, .2);
}

.social-links a:hover {
	border: 1px solid rgba(255, 255, 255, .5);
	color: rgba(255, 255, 255, .5);
}

/* ---------------------------------------------- /*
 * Media
/* ---------------------------------------------- */

@media (min-width: 1460px) {
	.hello,
	.who-creates{
		font-size: 22px;
		margin: 17px 0;
	}
}

@media (max-width: 480px) {
	.photograph{
		padding: 12px 25px;
	}
}