.portfolio__image{
    display: inline-block;
    vertical-align: top;
    min-height: 150px;
}

.portfolio__images-wrap{
    text-align: center;
    display: block;
    margin-bottom: 30px;
}

.portfolio__nav-block{

}

.portfolio__nav{
    position: fixed;
    top: 165px;
    width: 20px;
}

.portfolio__nav a{
    display: block;
    position: absolute;
}

.portfolio__nav:hover .portfolio__nav__title{
    visibility: visible;
    opacity: 1;
}

.portfolio__nav i{
    font-size: 60px;
    position: relative;
    z-index: 3;
}

.portfolio__nav__left{
    left: 30px;
}

.portfolio__nav__right{
    right: 30px;
    text-align: right;
}

.portfolio__nav__title{
    height: 62px;
    visibility: hidden;
    opacity: 0;
    width: 165px;
    font-size: 12px;
    line-height: 16px;
    position: absolute;
    z-index: 2;
    top: 0px;
    left: -7px;
    text-transform: uppercase;
    color: #000;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    background: #fff;
    padding: 15px 20px 15px 45px;
    -webkit-transition: all 0.4s ease-in-out 0s;
       -moz-transition: all 0.4s ease-in-out 0s;
        -ms-transition: all 0.4s ease-in-out 0s;
         -o-transition: all 0.4s ease-in-out 0s;
            transition: all 0.4s ease-in-out 0s;
}

.portfolio__nav__title__text{
    display: inline-block;
    vertical-align: middle;
}

.portfolio__nav__title:after{
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.portfolio__nav__right .portfolio__nav__title{
    left: auto;
    right: -7px;
    padding: 15px 45px 15px 20px;
}

.portfolio__text-container,
.portfolio__image-container_single{
    padding: 0 60px;
}

.portfolio-item-single_wrap{
    position: relative;
}

.portfolio-item-single{
    width: 25%;
}

.portfolio-item-single figcaption{
    background-color: transparent;
}

.portfolio-item-single p{
    margin-top: 10%;
    font-size: 30px;
}

@media (max-width: 992px) {
    .portfolio-item-single{
        width: 50%;
    }
}

@media (max-width: 767px) {
    .portfolio__image-container_single{
        padding: 0;
    }

    .portfolio__images-wrap{
        margin-bottom: 15px;
    }
}

@media (max-width: 480px) {
    .portfolio-item-single{
        width: 100%;
    }

    .portfolio-item figure{
        margin-top: 0 !important;
    }
}