.subitem{
	padding-top: 30px;
	padding-bottom: 40px;
}

.subitem__text p{
	margin: 0px 16.66666667% 20px;
}

.subitem__text img{
	margin: 10px auto 30px;
	display: block;
}

.subitem__main-image{
	position: relative;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.subitem__main-image__text{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	text-align: center;
	background: rgba(0,0,0,.2);
}

.subitem__main-image__text__inner{
	display: inline-block;
	vertical-align: middle;
	position: relative;
	max-width: 90%;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}

.subitem__main-image__text:after{
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.subitem__main-image__title{
	color: #fff;
	max-width: 570px;
}

.subitem__main-image__date{
	font-size: 16px;
	color: #fff;
	max-width: 570px;
}

@media (min-width: 1460px) {
	.subitem__main-image__date{
		font-size: 19px;
	}
}